.hl-flex-box {
  display: flex;
height: 100%;
  width:100%;
}

.hl-flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  width:100%;



}

.testBox{
  width:200px;
  height: 200px;
  margin: 10px;
  background-color: white;

}

.flex-container2 > div.TV-TechnicalAnalysis {
  display:flex;
  flex-shrink: 1;
  flex-flow: row;
  flex-basis: content;
  border-left: #202B33 2px;
  text-align: left;


}